export(add_dataset_if_not_exists)
export(add_new_dataset)
export(create_experiment)
export(create_project)
export(delete_dataset)
export(delete_project)
export(get_dataset)
export(get_datasets)
export(get_experiment)
export(get_experiments)
export(get_prediction)
export(get_project)
export(get_projects)
export(print_all_projects)
export(get_results)
export(mljar_fit)
export(mljar_predict)
export(prediction_download)
export(submit_predict_job)
export(upload_file)
export(get_all_models)
importFrom(httr,GET)
importFrom(httr,POST)
importFrom(httr,PUT)
importFrom(httr,DELETE)
importFrom(httr,add_headers)
importFrom(httr,content)
importFrom(httr,status_code)
importFrom(jsonlite,fromJSON)
importFrom(jsonlite,toJSON)
importFrom("stats", "runif")
importFrom("utils", "read.csv", "str", "tail", "write.csv")
